[user]
	name = Joedang
	email = shields6@pdx.edu
	signingkey = 5892B7FC2FBFB981
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[core]
	editor = vim
[alias]
#	home = !cd "$(git rev-parse --show-toplevel)"
#	home = rev-parse --show-toplevel
	home = !pwd
[alias]
	gr = log --graph --full-history --all --color
[alias]
	sta = status
