[user]
	name = Joedang
	email = shields6@pdx.edu
	signingkey = 5892B7FC2FBFB981 # which GPG key to use when signing tags and commits
[credential]
	helper = cache --timeout=3600
[push]
	default = simple # by default, push the current branch to the same-name upstream branch
[core]
	editor = vim
[merge]
	tool = vimdiff # use this program to manage merges
	conflictstyle = diff3 # also show the original text before both changes
[alias] # these basically become new git subcommands
    # print the root of the git repo:
	home = !pwd 
    # display a colorful graph of the history:
	gr = log --graph --full-history --all --color --format='%C(auto)%h %an (%G?) %C(green)%ci%C(auto)%d%n%s%n' 
    # Display all the commits that went into a file:
    # Also show which files were changed in those commits.
    # Adding the --all flag makes this like the `gr` alias, but with which files were changed.
	gr-ch = log --graph --full-history -M --name-status --color --format='───╮%n%C(auto)%h %an (%G?) %C(green)%ci%C(auto)%d%n%B' 
	sta = status # lazy alias
	k = !gitk --all # run the gitk tool on the whole history
	vimdiff = difftool --tool=vimdiff # lazy alias
	mt = mergetool # lazy alias
    wdiff = diff --word-diff=plain
[pull]
	rebase = false
[init]
	defaultBranch = main
