[user]
	name = Joedang
	email = shields6@pdx.edu
	signingkey = 5892B7FC2FBFB981
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
#	home = !cd "$(git rev-parse --show-toplevel)"
#	home = rev-parse --show-toplevel
	home = !pwd
[alias]
#	gr = log --graph --full-history --all --color --abbrev-commit --decorate --date=short
#	gr = log --graph --full-history --all --color --format='%Cred%h%Creset %an (%G?) %Cblue%ai%Creset%d%n%s%n' 
	gr = log --graph --full-history --all --color --format='%C(auto)%h %an (%G?) %C(green)%ci%C(auto)%d%n%s%n' 
[alias]
	sta = status
